# Python
backend/venv/
*.pyc
*.pyo
__pycache__/

# Node
frontend/node_modules/
frontend/.env

# Env and secrets
.env
*.env

# VCS
.git
.gitignore

# Logs
*.log

# Editor files
.vscode/
.idea/
.DS_Store

# SQLite (if still exists locally)
backend/db.sqlite3
