# 🐍 Python / Django
__pycache__/
*.py[cod]
*.pyc
*.log

# 🐍 Django
backend/venv/
backend/.env
backend/db.sqlite3

# ⚛️ React (only for dev, since it's bundled now)
frontend/node_modules/
frontend/.env

# 🐳 Docker
postgres_data/

# 💻 System / IDE
.DS_Store
.vscode/
.idea/
Thumbs.db

# 🧹 Other
*.bak
*.tmp
